# Default ignored files
/shelf/
/workspace.xml

# Directories
.idea/
__pycache__/
materialdatabase.egg-info/
tests/temp/
.eggs/
build/
dist/
gpgit/
docs/build
examples/trials

# Files
materialdatabase/meta/config.toml
dictionary.dic
mdb_overview.svg
readme.html

# General File Types
