# Default ignored files
/shelf/
/workspace.xml

# Directories
.idea/
__pycache__/
materialdatabase.egg-info/
tests/temp/
.eggs/
build/
dist/
gpgit/

# Files
tests/core_materials_temp.pro

# General File Types
